<div class="container-fluid">
  <!-- product looop -->
  <img *ngIf="recommendations.length == 0" src="assets/images/spinner.gif" class="img-responsive">
  <div *ngFor="let tmp of recommendations">
    <div class="product-box">
      <div class="row">
        <a routerLink="/products/{{tmp.album.albumId}}">
          <img src="{{tmp.album.imageUrl === 'none' ? '/assets/images/products/placeholder.png' : tmp.album.imageUrl}}" class="img-responsive">
        </a>
        <a routerLink="/products/{{tmp.album.albumId}}">
          <div class="font-weight-bold small">{{tmp.album.albumTitle}}</div>
        </a>
        <div class="font-weight-light small">
          <br>
          <i>Sprzedaż: {{tmp.similarityValue.toFixed(0)}}</i>
        </div>
        <div class="price">{{tmp.album.albumPrice | currency:'PLN'}}</div>
      </div>
    </div>

  </div>
</div>
