<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="albumFormGroup" (ngSubmit)="onSubmit()">
        <!--        customer form group-->
        <div formGroupName="albumInfo" class="form-area">
          <h3>Informacje o albumie</h3>

          <div class="row">
            <div class="col-md-2">
              <label>Tytuł</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="title" type="text">
                <div *ngIf="getTitle()!.invalid && (getTitle()!.dirty || getTitle()!.touched)" class="alert alert-danger">
                  <div *ngIf="getTitle()!.errors!.required || getTitle()!.errors!.notOnlyWhitespace">Wprowadź tytuł!</div>
                  <div *ngIf="getTitle()!.errors!.minlength">Musi mieć co najmniej 2 znaki!</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Artysta</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="artistName" type="text">
                <div *ngIf="getArtistName()!.invalid && (getArtistName()!.dirty || getArtistName()!.touched)" class="alert alert-danger">
                  <div *ngIf="getArtistName()!.errors!.required || getArtistName()!.errors!.notOnlyWhitespace">Wprowadź imię!</div>
                  <div *ngIf="getArtistName()!.errors!.minlength">Musi mieć co najmniej 2 znaki!</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Link do okładki</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="imageUrl" type="text">
                <div *ngIf="getImageUrl()!.invalid && (getImageUrl()!.dirty || getImageUrl()!.touched)" class="alert alert-danger">
                  <div *ngIf="getImageUrl()!.errors!.required || getImageUrl()!.errors!.notOnlyWhitespace">Wprowadź nazwę zespołu!</div>
                  <div *ngIf="getImageUrl()!.errors!.minlength">Musi mieć co najmniej 2 znaki!</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Rok</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="year" type="text">
                <div *ngIf="getYear()!.invalid && (getYear()!.dirty || getYear()!.touched)" class="alert alert-danger">
                  <div *ngIf="getYear()!.errors!.required">Wprowadź rok wydania!</div>
                  <div *ngIf="getYear()!.errors!.pattern || getYear()!.errors!.minlength || getYear()!.errors!.maxlength">Wprowadź prawidłowy rok wydania!</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Cena</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="price" type="text">
                <div *ngIf="getPrice()!.invalid && (getPrice()!.dirty || getPrice()!.touched)" class="alert alert-danger">
                  <div *ngIf="getPrice()!.errors!.required">Wprowadź cenę!</div>
                  <div *ngIf="getPrice()!.errors!.pattern || getPrice()!.errors!.minlength || getPrice()!.errors!.maxlength">Wprowadź prawidłową liczbę XX.XX!</div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div formGroupName="albumGenres" class="form-area">
          <h3>Gatunki i podgatunki</h3>

          <div class="row" style="display: table">
            <div class="col-md-2" style="display: table-cell">
              <label>Gatunki</label>
            </div>
            <div class="col-md-12">
              <div class="input-space" style="display: table-cell">
                <select formControlName="genreA">
                  <option *ngFor="let g of genres">{{g}}</option>
                </select>
              </div>
              <div class="input-space" style="display: table-cell">
                <select formControlName="genreB">
                  <option *ngFor="let g of genres">{{g}}</option>
                </select>
              </div>
              <div class="input-space" style="display: table-cell">
                <select formControlName="genreC">
                  <option *ngFor="let g of genres">{{g}}</option>
                </select>
              </div>
            </div>
          </div>


          <div class="row" style="display: table">
            <div class="col-md-2" style="display: table-cell">
              <label>Podgatunki</label>
            </div>
            <div class="col-md-9">
              <div class="input-space" style="display: table-cell">
                <select formControlName="subgenreA">
                  <option *ngFor="let g of subgenres">{{g}}</option>
                </select>
              </div>
              <div class="input-space" style="display: table-cell">
                <select formControlName="subgenreB">
                  <option *ngFor="let g of subgenres">{{g}}</option>
                </select>
              </div>
              <div class="input-space" style="display: table-cell">
                <select formControlName="subgenreC">
                  <option *ngFor="let g of subgenres">{{g}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-info">Zapisz zmiany</button>
        </div>

      </form>
  </div>
</div>
