<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <!-- product looop -->
        <div *ngFor="let tmp of albums" class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{tmp.albumId}}">
              <img src="{{tmp.imageUrl === 'none' ? '/assets/images/products/placeholder.png' : tmp.imageUrl}}" class="img-responsive">
            </a>
            <br>
            <a routerLink="/products/{{tmp.albumId}}">
              <h1>{{tmp.albumTitle}}</h1>
            </a>
            <div class="price">{{tmp.albumPrice | currency:'PLN'}}</div>
            <button *ngIf="!isEmployee" (click)="addToCart(tmp)" class="btn btn-primary btn-sm">Dodaj do koszyka</button>
            <button *ngIf="isEmployee" routerLink="/crudPage/{{tmp.albumId}}" class="btn btn-success btn-sm">Edytuj</button>
            <button *ngIf="isEmployee" (click)="deleteAlbum(tmp.albumId)" class="btn btn-danger btn-sm">Usuń</button>
          </div>
        </div>

        <div *ngIf="albums?.length == 0" class="alert alert-warning col-md-12" role="alert">
          Nie znaleziono żadnych albumów pasujących do hasła.
        </div>

      </div>

      <!-- begin footer     -->
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9">
                <ngb-pagination [(page)]="thePageNumber"
                                [pageSize]="thePageSize"
                                [collectionSize]="theTotalElements"
                                (pageChange)="listProducts()"
                                [maxSize]="5"
                                [rotate]="true"
                                [boundaryLinks]="true">

                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end footer     -->
    </div>
  </div>
</div>
